*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --header-height: 100vh;
  --color-white: white;
  --font-familly-base: 'Source Sans Pro', sans-serif;
  --link-hover: #FF6565;
}

button:active, button:hover {
  opacity: 0.9;
}

button:focus {
  outline: none;
}

header {
  background-image: url(images/headphones_hero_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: var(--font-familly-base);
  height: var(--header-height);
  color: var(--color-white);
  max-width: 100%;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.header-nav {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.logo .logo-link {
  position: absolute;
  left: 15%;
  top: 20px;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 27px;
}

.menu-line a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: small;
  margin: 20px;
  font-weight: bold;
}

.navbar-menu .nav .menu-line:hover a {
  color: var(--link-hover); 
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 250px auto 0 auto;
  text-align: center;
  max-width: 60%
}

.sub-titles h1, h4{
  margin: 5px;
}

.img-button {
  margin-top: 50px;
  margin-bottom: 80px;
}

.our-button {
  height: 40px;
  width: 170px;
  border-radius: 45px;
  border: none;
  box-shadow: 1px 1px 10px 2px rgb(68, 57, 57);
  background-color: var(--link-hover);
  cursor: pointer;
}

.our-button a {
  text-decoration: none;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--font-familly-base);
}

.menu-open-button {
  width: 30px;
  height: 40px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.menu-open-button .menu-line {
  display: block;
  position: absolute;
  left: 8px;
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  opacity: 1;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu-open-button .menu-line-1 {
  top: 0px;
  width: 100%;
}

.menu-open-button .menu-line-2 {
  top: 7px;
  width: 60%;
}

.menu-open-button .menu-line-3 {
  top: 14px;
  width: 100%;
}

input:checked ~ .menu-open-button > .menu-line-1 {
  top: 7px;
  transform: rotate(135deg);
  transition: .25s ease-in-out;
}

input:checked ~ .menu-open-button > .menu-line-2 {
  opacity: 0;
  transition: .25s ease-in-out;
}

input:checked ~ .menu-open-button > .menu-line-3 {
  top: 7px;
  transform: rotate(-135deg);
  transition: .25s ease-in-out;
}

.menu-open-button {
  position: relative;
  display: none;
  left: -180px;
  top: -25px;
}


@media (max-width: 768px) {
  header {
    min-height: 100vh;
    position: relative;
  }
  
  .intro {
    max-width: 100%;
    text-align: center;
  }

  .intro p {
    margin: 0 auto;
  }

  div.text {
    width: 90%;
    text-align: center;
  }

  .header-nav {
    flex-direction: column;
    justify-content: flex-start;
  }

  .nav {
    flex-direction: column;
  }

  .ul.nav {
    padding: 0
  }

  .menu-line {
    margin-top: 55px;
  }

  .menu-line a {
    font-size: 15px;
  }

  .menu-open-button {
    display: block;
    left: -40%;
  }

  input[class="menu-open"]:not(:checked) ~ nav .nav {
    display: none;
  }

  .logo-link img {
    margin: 0 60%;
  }

  .logo .logo-link {
    position: absolute;
    right: 50%;
    top: 20px;
  }
}

@media (max-width: 480px) {
  header {
    min-height: 100vh;
  }
  
  .intro {
    max-width: 100%;
    text-align: center;
  }

  div.text {
    width: 90%;
    text-align: center;
  }

  .intro p {
    margin: 0 auto;
  }

  .header-nav {
    flex-direction: column;
    justify-content: flex-start;
  }

  .nav {
    flex-direction: column;
  }

  .ul.nav {
    padding: 0
  }

  .menu-line {
    margin-top: 55px;
  }

  .menu-line a {
    font-size: 15px;
  }

  .menu-open-button {
    display: block;
  }

  input[class="menu-open"]:not(:checked) ~ nav .nav {
    display: none;
  }

  .logo .logo-link {
    position: absolute;
    right: 50%;
    top: 20px;
  }

}